body {
  font-family: Ubuntu, Helvetica, sans-serif; font-size: 12px;
}
table {
  font-size: 10px; border-collapse: collapse;
}
table th {
  border: 1px solid #aaa;
}
table td {
  border: 1px solid #d0d0d0;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
